*{
    font-family: sans-serif;
}

.sign-in {
    color: green;
}

.get-started {
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    padding: 2px 4px;
}

.upper__right {
    position: absolute;
    right: 10px;
}